.dropdown-menu {
    width: 300px !important;
    height: 300px !important;
}

body {
    background-color: #1dadea;
}

.welcome_text {
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    top: 100px;
}

.sign_up_text {
    position: relative;
    font-size: 35px;
    top: 30px;
}
<<<<<<< HEAD

.homescreen {
    float: left;
}
=======
>>>>>>> f8a08903d5f2f6fc31a69b4b4b90318b154b08b4
