.dropdown-menu {
    width: 300px !important;
    height: 300px !important;
}

body {
    background-color: #1dadea;
}

.welcome_text {
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    top: 75px;
}

.sign_up_text {
    position: relative;
    font-size: 35px;
    top: 30px;
}

.home_teacher {
    float: left;
    position: relative;
    width: 450px;
    top: 200px;
    text-align: center;
    color: #1dadea;
    font-size: 30px;
}

.home_student {
    float: right;
    position: relative;
    width: 450px;
    top: 200px;
    text-align: center;
    color: #1dadea;
    font-size: 30px;
}
