
.dropdown-menu {
    width: 300px !important;
    height: 300px !important;
}

.login_warning {
    color: red;
}

body {
    background-image: url("instruments.jpg");
    background-size: cover;
}

.welcome_text {
    position: relative;
    text-align: center;
    color: black;
    font-size: 50px;
}

.sign_up_text {
    position: relative;
    font-size: 35px;
}

.home_teacher {
    float: left;
    position: relative;
    width: 450px;
    text-align: center;
    color: #0a5479;
    font-size: 30px;
}

.home_student {
    float: right;
    position: relative;
    width: 450px;
    text-align: center;
    color: #0a5479;
    font-size: 30px;
}

left_position{
    left: 50;
    top: 50;

}

right_position{
    left: 100;
    top: 50;

}

.bold{
    font-weight: bold;
}
.username{
    font-weight: bold;
    text-align: center;
    color: #0a5479;
    padding-right:190px;
}
