{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <body>
        <div class="card mt-5" style="background-color: rgba(255,255,255,0.95)";>
          <div class="welcome_text">Welcome to GetMusical! <br>
              <div class="sign_up_text">Watch tutorials of various musical instruments or <br> upload your own videos</div>
          </div>
        </div>
        <br>
        <div class="home_teacher">
            <div class="card" style="background-color: rgba(255,255,255,0.95)";>
                <div class="card-header">
                    <h2>How does the skill system work?</h2>
                </div>

            <h4>For every like u get on an instrument video, you get a point. <br>
                every time you reach 10 points, you rank up until you are an expert!</h4>
            </div>
        </div>

        <div class="home_student">
            <div class="card" style="background-color: rgba(255,255,255,0.95)";>
                <div class="card-header">
                    <h2>What would you like to do?</h2>
                </div>

            <h4><a href="/upload"> Upload a video!</a></h4>
            <h4><a href="/profile"> Update your profile!</a></h4>
            <h4><a href="/instruments"> Search for videos!</a></h4>
            </div>
        </div>


    </body>
{% endblock %}
