{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <body>
        <div class="card mt-5" style="background-color: rgba(255,255,255,0.95)";>
          <div class="welcome_text">Welcome to GetMusical! <br>
              <div class="sign_up_text">Watch tutorials of various musical instruments or <br> upload your own videos</div>
          </div>
        </div>
        <br>
        <div class="home_teacher">
            <div class="card display-6" style="background-color: rgba(255,255,255,0.95)";>
                <div class="card-header">
                    <h2>How does the skill system work?</h2>
                </div>

            <p class="card-body">For every like you get on one of your videos, you get a point. <br>
                Every time you reach 10 points, you rank up until you are an expert!</p>
            </div>
        </div>

        <div class="home_student">
            <div class="card display-6" style="background-color: rgba(255,255,255,0.95)";>
                <div class="card-header">
                    <h2>What would you like to do?</h2>
                </div>
            <div class="card-body">
                <p><a href="/upload"> Upload a video!</a></p>
                <p><a href="/profile"> Update your profile!</a></p>
                <p><a href="/instruments"> Search for videos!</a></p>
            </div>
        </div>


    </body>
{% endblock %}
