{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<body>
    <div class="background-image"></div>
        <div class="welcome_text">Learning a musical instrument <br>in a community
            <div class="sign_up_text">SIGN UP for FREE</div>
    </div>

    <div class="home_teacher">
        <div class="card" style="background-color: rgba(10,84,121,0.0)";>
            <div class="card-header">
                <h1>Teacher</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Share your ability to play <br> a musical instrument <br> with eager students <br>
                                     <br> Upload your videos easy, <br> interact with your students, <br> and grow from a beginner <br> to an expert </p>
            </div>
        </div>
    </div>
    <div class="home_student">
        <div class="card" style="background-color: rgba(10,84,121,0.0)">
            <div class="card-header">
                <h1>Student</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Interacting with others <br> makes learning a <br> musical instrument so <br> much more fun! <br>
                                     <br> At GetMusical you get to <br> watch tutorials, make <br> friends, share your own <br> skills and get directly <br> feedback from a teacher</p>
            </div>
        </div>
    </div>
</body>

{% endblock %}
