{% extends "layout.html" %}

{% block title %}
Instruments
{% endblock %}

{% block main %}
          <h3 class="left_position">Instruments</h3>
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Select instrument
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Piano</a>
              <a class="dropdown-item" href="#">Guitar</a>
              <a class="dropdown-item" href="#">Drum</a>
              <a class="dropdown-item" href="#">Electric guitar</a>
            </div>
          </div>

          <h3 class="right_position">Level</h3>
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Select level
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Beginner</a>
              <a class="dropdown-item" href="#">Competent</a>
              <a class="dropdown-item" href="#">Proficient</a>
              <a class="dropdown-item" href="#">Expert</a>
            </div>
          </div>
        </div>
{% endblock %}