<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">
        <title> GetMusical: {% block title %}{% endblock %}</title>

        <!--Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a5479;">
          <a class="navbar-brand" href="/">
            <img src="/static/getmusical.png" class="align-top" width="160" height="44" href="/" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/instruments">Instruments</a>
              </li>
              {% if session.user_id %}
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/upload">Upload</a>
                </li>
              {% endif %}
            </ul>
          </div>
          {% if session.user_id %}
          <form class="form-inline" action="/search" method="POST">
            <input class="form-control mr-sm-2" name="searchfield" type="search" placeholder="Search for a user" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit">Search</button>
          </form>
          {% else %}
          <form class="form-inline" action="/search" method="POST">
            <input class="form-control mr-sm-2" name="searchfield" type="search" placeholder="Log in to search" aria-label="Search" disabled>
            <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit" disabled>Search</button>
          </form>
          {% endif %}
          {% if not session.user_id %}
          <a href="/register" class="btn btn-info mr-2">Register</a>
          <div class="dropdown">
            <button type="button" id="loginBtn" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </button>
              <form action="/login" method="POST" class="dropdown-menu dropdown-menu-right p-4" id="loginFormDropdown" style="display: none;">
                <div class="form-group">
                  <label for="usernameDropdown">Username</label>
                  <input type="text" name="username" class="form-control" id="usernameDropdown" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="passwordDropdown">Password</label>
                  <input type="password" name="password" class="form-control" id="passwordDropdown" placeholder="Password">
                </div>
                <button type="submit" id="loginSubmit" class="btn btn-success">Login</button>
                <div id="signupLink">
                  <a href="/register">
                    No account? Sign up here!
                  </a>
                </div>
                <div id="29" style="display: none;">
                  <p class="login_warning">Username does not exist</p>
                </div>
                <div id="19" style="display: none;">
                  <p class="login_warning">Please enter your username</p>
                </div>
                <div id="93" style="display: none;">
                  <p class="login_warning">Please enter your password</p>
                </div>
                <div id="13" style="display: none;">
                  <p class="login_warning">Did you even try?</p>
                </div>
                <div id="94" style="display: none;">
                  <p class="login_warning">Incorrect password</p>
                </div>
              </form>
          </div>
          {% else %}
            <a href="/logout" class="btn btn-danger mr-2">Logout</a>
            <a href="/logout" id="loginBtn" style="display: none;" class="btn btn-danger mr-2">Logout</a>
            <a href="/logout" id="loginFormDropdown" style="display: none;" class="btn btn-danger mr-2">Logout</a>
          {% endif %}
        </nav>
  </head>

    <body>
      <main class="container p-5">
          {% block main %}{% endblock %}
      </main>
    </body>
</html>

<script type="text/javascript">
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            console.log('window load')
            var loginButton = document.getElementById('loginBtn');
            var loginFormDropdown = document.getElementById('loginFormDropdown')
            loginButton.onclick = function() {
              console.log('drowdown click')
              // document.getElementById('loginFormDropdown').style.display='block';
              if (loginFormDropdown.style.display === 'none') {
                loginFormDropdown.style.display = 'block'
              } else {
                loginFormDropdown.style.display='none';
              }
            }
            console.log('after dropdown')
            var loginFormDropdown = document.getElementById('loginFormDropdown')
            loginSubmit.onclick = function(event){
                var username_input = $('input[name="username"]').val();
                var password_input = $('input[name="password"]').val();
                console.log('variables')
                $.get({
                    async: false,
                    dataType: "json",
                    url:"/usercheck?username=" + username_input + "&password=" + password_input,
                    success: function( data ) {
                        if (data === 29){
                            $('div[id="29"]').css('display', 'block');
                            $('div[id="19"]').css('display', 'none');
                            $('div[id="93"]').css('display', 'none');
                            $('div[id="13"]').css('display', 'none');
                            $('div[id="94"]').css('display', 'none');
                            event.preventDefault();
                            event.stopPropagation();
                        } else if (data === 19){
                            $('div[id="29"]').css('display', 'none');
                            $('div[id="19"]').css('display', 'block');
                            $('div[id="93"]').css('display', 'none');
                            $('div[id="13"]').css('display', 'none');
                            $('div[id="94"]').css('display', 'none');
                            event.preventDefault();
                            event.stopPropagation();
                        } else if (data === 93){
                            $('div[id="29"]').css('display', 'none');
                            $('div[id="19"]').css('display', 'none');
                            $('div[id="93"]').css('display', 'block');
                            $('div[id="13"]').css('display', 'none');
                            $('div[id="94"]').css('display', 'none');
                            event.preventDefault();
                            event.stopPropagation();
                        } else if (data === 13){
                            $('div[id="29"]').css('display', 'none');
                            $('div[id="19"]').css('display', 'none');
                            $('div[id="93"]').css('display', 'none');
                            $('div[id="13"]').css('display', 'block');
                            $('div[id="94"]').css('display', 'none');
                            event.preventDefault();
                            event.stopPropagation();
                        } else if (data === 94){
                            $('div[id="29"]').css('display', 'none');
                            $('div[id="19"]').css('display', 'none');
                            $('div[id="93"]').css('display', 'none');
                            $('div[id="13"]').css('display', 'none');
                            $('div[id="94"]').css('display', 'block');
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    }
                });
            };
          }, false);
        })();
</script>
