{% extends "layout.html" %}

{% block title %}
    {{ user_info['username'] }}'s Profile
{% endblock %}

{% block main %}
<body>
  <div class="container" style="background-color:#8ad4f4; color:#0a5479;">
    <div class="row">
      <div class="col">
        <div class="d-flex">
          <h1 class="username p-2 flex-fill mt-3 display-4">{{ user_info['username'] }}</h1>
        </div>
        <hr>
        <div class="d-flex">
          <div class="flex-shrink-1 mr-2" style="display: inline;">
            {% if user_info['picture_url'] == None %}
              <img src="/static/avatar.png" class="rounded-circle" alt="Profile picture" style="width: 200px; heigth: 200px;">
            {% else %}
              <img src="{{ user_info['picture_url'] }}" class="rounded-circle" alt="Profile picture" style="width: 200px; heigth: 200px;">
            {% endif %}
          </div>
          <div class="p-2 w-100 flex-grow-1">
            <div class="d-flex flex-row">
               <div class="p-2" style="flex-basis: 100px;">Name:</div>
               <div class="p-2" style=";"> {{ user_info['name'] }}</div>
            </div>
            <div class="d-flex flex-row">
               <div class="p-2" style="flex-basis: 100px;">City:</div>
               <div class="p-2 flex-fill" style=";">{{ user_info['city'] }}</div>
            </div>
            <div class="d-flex flex-row">
               <div class="p-2" style="flex-basis: 100px;">Birthday:</div>
               <div class="p-2 flex-fill" style=";">{{ user_info['birthday'] }}</div>
            </div>
            <div class="d-flex flex-row">
               <div class="p-2" style="flex-basis: 100px;">Description:</div>
               <div class="p-2 flex-fill" style=";">{{ user_info['description'] }}</div>
            </div>
            <a class="btn btn-outline-dark btn-sm mt-4" name="editProfileBtn" id="editProfileBtn" href="/profileeditor">Edit profile</a>
          </div>
        </div>
        <hr>
        <div class="ml-1" style="padding:10px;">
          {% if wants %}
          <h5>Learning: </h5>
          <ul class="list-group list-group-flush">
            {% for item in wants %}
              {% if item == 'want_guitar' %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Guitar
                <span class="badge badge-primary badge-pill">level {{ skill_levels["guitar"] }}</span>
              </li>
              {% elif item == 'want_electric_guitar' %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Electric guitar
                <span class="badge badge-primary badge-pill">level {{ skill_levels["electric_guitar"] }}</span>
              </li>
              {% elif item == 'want_piano' %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Piano
                <span class="badge badge-primary badge-pill">level {{ skill_levels["piano"] }}</span>
              </li>
              {% elif item == 'want_drums' %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Drums
                <span class="badge badge-primary badge-pill">level {{ skill_levels["drum"] }}</span>
              </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
          <br>
          {% if following_usernames %}
            <div>
            <h5>Following:</h5>
            <ul class="list-group list-group-flush">
            {% for username, id in following_usernames.items() %}
              <form action="/unfollow?username={{ username }}" method="GET" class="list-group-item">
                <div class="form-group">
                  <li class="d-flex justify-content-between align-items-center">
                    {{ username }}
                    <input type="hidden" name="user_id" value="{{ id }}"></input>
                    <button class="btn btn-danger follow-button" type="submit" name="id">Unfollow</button>
                  </li>
                </div>
              </form>
            {% endfor %}
            </ul>
            </div>
          {% endif %}
          <br>
          {% if user_videos %}
            <div>
              <h5>Videos:</h5>
              {% for row in user_videos %}
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top img-thumbnail" src="https://i.ytimg.com/vi/{{ row["video_id"] }}/hqdefault.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{row ["video_name"] }}</h5>
                    <a href="/video?video_id={{row ["video_id"] }}" class="btn btn-primary">Watch video</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalTitle">Modal title</h5>
          <button type="button" name="profileModalCloseButton" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          Body text of the modal
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
(function() {
      'use strict';
      window.addEventListener('load', function() {
        document.querySelectorAll('.follow-button').forEach(button => {
          button.addEventListener('click', event => {
            if(button.innerHTML === 'Follow') {
              button.classList.remove('btn-info')
              button.classList.add('btn-danger')
              button.innerHTML = 'Unfollow'
              button.parentNode.parentNode.parentNode.action = '/follow?username={{ username }}' + button.parentNode.parentNode.parentNode.action.split('=')[1]
            } else {
              button.classList.remove('btn-danger')
              button.classList.add('btn-info')
              button.innerHTML = 'Follow'
              button.parentNode.parentNode.parentNode.action = '/unfollow?username=' + button.parentNode.parentNode.parentNode.action.split('=')[1]
            }
          })
        })
      }, false);
    })();
</script>
{% endblock %}
