{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
  <div class="card-group">
    <div class="card">
      <div class="card-header">
        <h2>Register</h2>
      </div>
      <div class="card-body">
        <form action="/register" method="post" id="registerForm" autocomplete="off">
            <fieldset>
                <div class="form-group">
                  <label for="usernameInput">Username</label>
                  <input autocomplete="off" autofocus class="form-control" id="usernameInput" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input class="form-control" id="passwordInput" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <label for="confirmationInput">Confirm your password</label>
                    <input class="form-control" id="confirmationInput" name="confirmation" placeholder="Password (again)" type="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </fieldset>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>I want to learn: </h2>
      </div>
      <div class="card-body">
        <div class="text">
          Select up to four:
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="want-guitar" id="want-guitar">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Guitar</h6></label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="want-electric-guitar" id="want-electric-guitar">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Electric Guitar</h6></label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="want-piano" id="want-piano">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Piano</h6></label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="want-drums" id="want-drums">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Drums</h6></label>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>I know how to play: </h2>
      </div>
      <div class="card-body">
        <div class="text">
          Select up to four:
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="know-guitar" id="know-guitar">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Guitar</h6></label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="know-electric-guitar" id="know-electric-guitar">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Electric Guitar</h6></label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="know-piano" id="know-piano">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Piano</h6></label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="know-drums" id="know-drums">
            </div>
          </div>
          <label type="text" class="btn-outline-info form-control"><h6>Drums</h6></label>
        </div>
      </div>
    </div>
    </form>
  </div>

  <script type="text/javascript">
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              var usernameInput = document.getElementById("usernameInput")
              var passwordInput = document.getElementById("passwordInput")
              var confirmationInput = document.getElementById("confirmationInput")
              usernameInput.clear();
              passwordInput.clear();
              confirmationInput.clear();
              }, false);
          })();
  </script>
{% endblock %}
