{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<body>
  <h1 class="display-5">Results that match your search:</h1>
  <ul class="list-group">
    {% for username, id in results.items() %}
      {% if id in already_following %}
        <form action="/unfollow?username={{ username }}" method="GET">
          <div class="form-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/userprofile?id={{ id }}">{{ username }}</a>
              <input type="hidden" name="user_id" value="{{ id }}"></input>
              {% if session.user_id %}
                  <button class="btn btn-danger follow-button" type="submit" name="id">Unfollow</button>
              {% endif %}
            </li>
          </div>
        </form>
      {% else %}
        <form action="/follow?username={{ username }}" method="GET">
          <div class="form-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/userprofile?id={{ id }}">{{ username }}</a>
              <input type="hidden" name="user_id" value="{{ id }}"></input>
              {% if session.user_id %}
                  <button class="btn btn-info follow-button" type="submit" name="id">Follow</button>
              {% endif %}
            </li>
          </div>
        </form>
      {% endif %}
    {% endfor %}
  </ul>
</body>

<script type="text/javascript">
  // change the functionality and looks of the follow button
(function() {
      'use strict';
      // wait for the window to load
      window.addEventListener('load', function() {
        document.querySelectorAll('.follow-button').forEach(button => {
          button.addEventListener('click', event => {
            // if the button says 'follow', change it to an unfollowed button
            if(button.innerHTML === 'Follow') {
              button.classList.remove('btn-info')
              button.classList.add('btn-danger')
              button.innerHTML = 'Unfollow'
              button.parentNode.parentNode.parentNode.action = '/follow?username={{ username }}' + button.parentNode.parentNode.parentNode.action.split('=')[1]
            } else {
              button.classList.remove('btn-danger')
              button.classList.add('btn-info')
              button.innerHTML = 'Follow'
              button.parentNode.parentNode.parentNode.action = '/unfollow?username=' + button.parentNode.parentNode.parentNode.action.split('=')[1]
            }
          })
        })
      }, false);
    })();
</script>

{% endblock %}
