{% extends "layout.html" %}

{% block title %}
    {{ video["video_name"] }}
{% endblock %}

{% block main %}

    <h1>{{ video["video_name"] }}</h1>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/{{ video['video_id'] }}"></iframe>
    </div>


    <h2>Comments</h2>

    {% if session.user_id %}

    <form action="/video?video_id={{ video['video_id'] }}" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="comment" placeholder="My comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Place comment</button>
    </form>

    {% endif %}


    {% for comment in comments %}
    <div class="card border-dark mb-3 mt-2">
      <div class="card-body">
        <h5 class="card-title">{{ comment["username"] }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ comment["date"] }}</h6>
        <p class="card-text">{{ comment["message"] }}</p>
      </div>
    </div>

{% endfor %}

{% endblock %}
