{% extends "layout.html" %}

{% block title %}
    {{ video["video_name"] }}
{% endblock %}

{% block main %}

    <h1>{{ video["video_name"] }}</h1>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/{{ video['video_id'] }}"></iframe>
    </div>

    <h2>Comments</h2>

    {% if session.user_id %}

    <form action="/video?video_id={{ video['video_id'] }}" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="comment" placeholder="My comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Place comment</button>
    </form>

    <form action="/like?video_id={{ video['video_id'] }}" method="get">
                    <input type="hidden" name="video_id" value="{{ video['video_id'] }}"></input>

      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> LIKE!</button>
    </form>

    <form action="/dislike?video_id={{ video['video_id'] }}" method="get">
                    <input type="hidden" name="video_id" value="{{ video['video_id'] }}"></input>

      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> DISLIKE!</button>
    </form>
    {% endif %}

    <!-- Mogelijkheid om comments te plaatsen -->
    {% for comment in comments %}
      <div class="card border-dark mb-3 mt-2" id="comment-{{ comment['comment_id'] }}">
        <div class="card-body">
          <h5 class="card-title">{{ comment["username"] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ comment["date"] }}</h6>
          <p class="card-text">{{ comment["message"] }}</p>

          <!-- Verwijder de comment als de comment van de ingelogde user is -->
          {% if session.user_id and session.user_id == comment["user_id"]  %}
            <button type="button" class="btn btn-primary" onclick="onDeleteComment({{ comment['comment_id'] }})">
              Delete
            </button>
          {% endif %}
        </div>
      </div>
    {% endfor %}

<!-- Wanneer comment verwijderd wordt, ziet de gebruiker de comment niet meer -->
<script type="text/javascript">
function onDeleteComment(commentId) {
  var confirmation = confirm("Are you sure you want to delete the comment?");

  if (confirmation == true) {
    // delete comment
    $.post("/delete-comment/" + commentId, function(result){
        var element = document.getElementById("comment-" + commentId);
        element.parentNode.removeChild(element);
      });
  }
}
</script>
{% endblock %}
