{% extends "layout.html" %}

{% block title %}
    {{ video["video_name"] }}
{% endblock %}

{% block main %}
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <h1>{{ video["video_name"] }}</h1>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://www.youtube.com/embed/{{ video['video_id'] }}"></iframe>
    </div>
    <div class="text-right mt-2">
      {% if session.user_id %}
        {% if liked == False %}
        <div class="d-flex">
          <form action="/like?video_id={{ video['video_id'] }}" method="get">
            <input type="hidden" name="video_id" value="{{ video['video_id'] }}"></input>
            <button type="submit" class="btn btn-info btn-m like-button mr-3" id="like-btn" style="width: 120px;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
          </form>
          <div class="float-right btn btn-dark" style="width: 120px;">Likes:&nbsp&nbsp<span class="badge badge-light" id="timesLiked">{{ likes }}</span></div>
        </div>
        {% else %}
        <div class="d-flex">
          <form action="/dislike?video_id={{ video['video_id'] }}" method="get">
            <input type="hidden" name="video_id" value="{{ video['video_id'] }}"></input>
            <button type="submit" class="btn btn-danger btn-m like-button mr-3" id="like-btn" style="width: 120px;"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Dislike</button>
          </form>
          <div class="float-right btn btn-dark" style="width: 120px;">Likes:&nbsp&nbsp<span class="badge badge-light" id="timesLiked">{{ likes }}</span></div>
        </div>
        {% endif %}
      {% else %}
        <div class="d-flex">
            <button type="submit" class="btn btn-info btn-m like-button mr-3" id="like-btn" style="width: 120px;" disabled><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
          <div class="float-right btn btn-dark">Likes:&nbsp&nbsp<span class="badge badge-light" id="timesLiked">{{ likes }}</span></div>
        </div>
      {% endif %}
    </div>

    <h2>Comments</h2>

    {% if session.user_id %}

    <form action="/video?video_id={{ video['video_id'] }}" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="comment" placeholder="My comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Place comment</button>
    </form>

    {% endif %}

    <!-- Mogelijkheid om comments te plaatsen -->
    {% for comment in comments %}
      <div class="card border-dark mb-3 mt-2" id="comment-{{ comment['comment_id'] }}">
        <div class="card-body">
          <h5 class="card-title">{{ comment["username"] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ comment["date"] }}</h6>
          <p class="card-text">{{ comment["message"] }}</p>

          <!-- Verwijder de comment als de comment van de ingelogde user is -->
          {% if session.user_id and session.user_id == comment["user_id"]  %}
            <button type="button" class="btn btn-primary" onclick="onDeleteComment({{ comment['comment_id'] }})">
              Delete
            </button>
          {% endif %}
        </div>
      </div>
    {% endfor %}

<!-- Wanneer comment verwijderd wordt, ziet de gebruiker de comment niet meer -->
<script type="text/javascript">
function onDeleteComment(commentId) {
  var confirmation = confirm("Are you sure you want to delete the comment?");

  if (confirmation == true) {
    // delete comment
    $.post("/delete-comment/" + commentId, function(result){
        var element = document.getElementById("comment-" + commentId);
        element.parentNode.removeChild(element);
      });
  }
}
// change the functionality and looks of the like button when pressed
(function() {
      'use strict';
      window.addEventListener('load', function() {
        var like_button = document.getElementById("like-btn")
        var likes = document.getElementById("timesLiked")
        var current_likes = parseInt(likes.innerHTML)
        like_button.addEventListener('click', event => {
          // if the button contains 'thumbs-up', change the html features
          if(like_button.innerHTML.includes('thumbs-up')) {
            var current_likes = parseInt(likes.innerHTML)
            likes.innerHTML = parseInt(current_likes) + 1
            like_button.classList.remove('btn-info')
            like_button.classList.add('btn-danger')
            like_button.innerHTML = '<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Dislike'
            like_button.parentNode.action = '/like?video_id=' + like_button.parentNode.action.split('=')[1]
          } else {
            var current_likes = parseInt(likes.innerHTML)
            likes.innerHTML = parseInt(current_likes) - 1
            like_button.classList.remove('btn-danger')
            like_button.classList.add('btn-info')
            like_button.innerHTML = '<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like'
            like_button.parentNode.action = '/dislike?video_id=' + like_button.parentNode.action.split('=')[1]
          }
        })
      }, false);
    })();
</script>
{% endblock %}
